In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#한글설정
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
%matplotlib inline
rc('font', family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False

In [4]:
cc = pd.read_csv('cctv1.csv',encoding='cp949')
cc.head()

,소재지도로명주소,카메라대수,위도,경도,데이터기준일자,소재지지번주소,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,구미동,133,구미동.1,133.1
0,경기도 성남시 분당구 서현로429번길 30,3.0,37.376759,127.144970,2018.4.1,경기도 성남시 분당구 분당동 108-1번지 맞은편,NaN,NaN,NaN,NaN,NaN,NaN,NaN,분당동,140.0,분당동,140.0
1,경기도 성남시 분당구 예원로 7,2.0,37.371351,127.133744,2018.4.1,경기도 성남시 분당구 분당동 45번지(동아빌라와 옴니빌라 사이),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,백현동,127.0
2,NaN,4.0,37.386671,127.115881,2018.4.1,경기도 성남시 분당구 백현동 606번지 물방울어린이공원 내부,NaN,NaN,NaN,NaN,NaN,NaN,NaN,백현동,127.0,야탑동,184.0
3,NaN,5.0,37.408131,127.142901,2018.4.1,경기도 성남시 분당구 야탑3동 197-2(버스정류장),NaN,NaN,NaN,NaN,NaN,NaN,NaN,야탑동,184.0,금곡동,52.0
4,NaN,4.0,37.405361,127.155231,2018.4.1,경기도 성남시 분당구 야탑동 159-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,궁내동,24.0